@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --border: solid 3px black;
    --round: 20px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    /* border:solid 1px red; */
}

.user-icon {
    position: relative !important;
}

.user-dropdown {
    border: var(--border);
    position: absolute;
    top: 0px;
    right: -100px;
    width: 300px;
    min-height: 300px;
    border-radius: var(--round);
    padding-top: 1rem;
    display: none;
    background-color: white;
    z-index:8;
}

.active {
    display: block;
}
.card-custom {
    margin-bottom: 20px;
}
.messages{
    position: absolute;
    top: 60px;
    right: 20%;
    padding: 1rem 3rem;
    max-width: 600px;
    display: flex;
    z-index:99;
    gap: 40px;
    background-color: #aea9a9;
    justify-content: space-between;
    align-items: center;
}
.messages p{
    font-size: 18px;
}
.messages i{
    color: black;
    font-size: 18px;
}
.messages i:hover{
    color: red;
    transform: rotate(360deg);
}
.empty{
    border: var(--border);
    border-radius: var(--round);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
}
.empty p{
    font-size: 18px;
    color: gray;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index:3;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 15px 0;
}
